footer {
    background-color: var(--primary);
    color: var(--color-white);
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: var(--color-white);
    text-decoration: none;
    margin: 5px;
}

/* Scroll-to-Top Button-Styling */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    background-color: var(--primary);
    color: var(--color-white);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.sponsor-infinite-carrousel {
    overflow: hidden;
    z-index: 0;
}

.sponsor-infinite-carrousel #sponser-headline {
    background: var(--primary);
    color: var(--color-white);
    padding: 5px;
    text-align: center;
}

.sponsor-infinite-carrousel #sponser-headline h2 {
    margin: 0;
}

.sponsor-infinite-carrousel .wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10rem;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    animation: scroll 10s linear infinite;
    z-index: 0;
}

.sponsor-infinite-carrousel .wrapper img {
    width: 100%;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-8/*Anzahl an Items*/ * 12rem));
    }
}

/* Media Query für schmale Bildschirme */
@media (max-width: 450px) {
    footer div {
        display: none;
    }
}