body, html {
    background: royalblue;
    font-size: 14px;
    font-weight: 400;
}

.wrap {
    margin: 0 auto;
}

.form {
    width: 300px;
    margin-top: 25vh;
    text-align: center;
    margin-bottom: 10rem;
}

.form img {
    width: 400px;
    animation: bounce 1.3s;
}

.form input[type=text],
.form input[type=password],
.form input[type=email],
.form select {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 280px;
    padding: 10px;
    margin: 20px 0 0 0;
    border-radius: 10px;
}

.form select {
    width: 300px;
}

.form input[type=text],
.form input[type=email] {
    animation: bounce1 1.3s;
    -webkit-appearance: none;
}

.form input[type=password] {
    animation: bounce2 1.6s;
}

.form button[type=submit] {
    border: 0;
    outline: none;
    padding: 13px 18px;
    margin: 40px 0 0 0;
    border-radius: 10px;
    font-weight: 600;
    animation: bounce3 1.9s;
}

@keyframes bounce {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }
}

@keyframes bounce1 {
    0% {
        opacity: 0;
    }
    20% {
        transform: translateY(-120px);
        opacity: 0;
    }
}

@keyframes bounce2 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes bounce3 {
    0% {
        opacity: 0;
    }
    70% {
        transform: translateY(-60px);
        opacity: 0;
    }
}