.events {
    text-align: center;
    background-color: var(--primary);
    margin-top: 10px;
    overflow: hidden; /* Verhindern von überstehenden Ecken bei abgerundeten Ecken */
}

.event-segments {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.event-segment {
    width: 30%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--fourd-color); /* Hinzufügen von Rahmen für Karten */
    border-radius: 10px; /* Abgerundete Ecken für Karten */
    overflow: hidden; /* Verhindern von überstehenden Ecken bei abgerundeten Ecken */
    transition: transform 0.2s; /* Füge eine sanfte Animation hinzu */
}

.event-segment:hover {
    transform: scale(1.05); /* Vergrößern der Karte beim Hover */
}

.event-segment img {
    max-width: 100%;
    border-radius: 10px; /* Abgerundete Ecken für Bilder */
}

.event-segment p,
.event-segment h2 {
    overflow-wrap: break-word;
    word-wrap: break-word; /* Fallback für ältere Browser */
    hyphens: auto;
}

@media (max-width: 600px) {
    .event-segments {
        display: block;
    }

    .event-segment {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* -------------------------------------------------------------------------------------------------------------- */

/* Aktuelles */

.aktuelles {
    background-color: red;
}