.events {
    text-align: center;
    background-color: var(--primary);
    margin-top: 10px;
}


.event-segments {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.event-segment {
    width: 30%; /* 30% Breite für jedes Segment, um Platz für alle drei zu haben */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.event-segment img {
    max-width: 100%;
    border-radius: 10px; /* Abgerundete Ecken für Bilder */
}

@media (max-width: 400px) {
    .event-segments {
        display: block;
        align-content: center;
    }
}