.events {
    text-align: center;
    background-color: var(--primary);
    margin-top: 10px;
    overflow: hidden; /* Verhindern von überstehenden Ecken bei abgerundeten Ecken */
}

.event-segments {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.event-segment {
    width: 30%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--fourd-color); /* Hinzufügen von Rahmen für Karten */
    border-radius: 10px; /* Abgerundete Ecken für Karten */
    overflow: hidden; /* Verhindern von überstehenden Ecken bei abgerundeten Ecken */
    transition: transform 0.2s; /* Füge eine sanfte Animation hinzu */
}

.event-segment:hover {
    transform: scale(1.05); /* Vergrößern der Karte beim Hover */
}

.event-segment img {
    max-width: 100%;
    border-radius: 10px; /* Abgerundete Ecken für Bilder */
}

.event-segment p,
.event-segment h2 {
    overflow-wrap: break-word;
    word-wrap: break-word; /* Fallback für ältere Browser */
    hyphens: auto;
}

@media (max-width: 600px) {
    .event-segments {
        display: block;
    }

    .event-segment {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* -------------------------------------------------------------------------------------------------------------- */

/* Aktuelles */

.aktuelles {
    background-color: var(--third-color);
    text-align: center;
}

/* -------------------------------------------------------------------------------------------------------------- */

/* Aktuelle Bilder */

.imageGallery {
    text-align: center;
    margin: 20px;
}

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.gridItem {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.gridItem:before {
    content: "";
    display: block;
    padding-top: 100%; /* Hier kannst du das Seitenverhältnis anpassen, z.B., padding-top: 75%; für 4:3 */
}

.gridItem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gridItem:hover img {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
}

.lightbox button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.lightbox button.close {
    right: 20px;
    top: 5rem;
}

.lightbox button.prev {
    left: 20px;
}

.lightbox button.next {
    right: 20px;
}

.lightbox .caption {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}


