main {
    margin: 20px 0;
    width: 60%;
    padding: 0 20%;
    display: block;
}

.otherBackground {
    width: 100%; /* Vollständige Breite des Bildschirms plus doppeltes Padding des main Blocks */
    margin-left: -33.5%; /* Kompensation für das linke Padding des main Blocks */
    padding: 20px 33.33%; /* Anpassen des inneren Paddings */
}

button {
    background-color: var(--primary);
    color: var(--color-white);
    border-radius: 2rem;
    padding: 10px;
    font-weight: bolder;
    border: 2px solid var(--primary);
}

button:hover {
    background-color: var(--fourd-color);
    color: var(--color-black);
}

@media (max-width: 650px) {
    main {
        width: 92%;
        padding: 0 4%;
        text-align: center;
    }

    .otherBackground {
        margin-left: -4%; /* oder margin-left: calc(-2.17%); */
        padding: 20px 4%; /* oder padding: 20px calc(2.17%); */

    }
}