:root {
    --primary: RoyalBlue;
    --secondary-color: #001F3F;
    --third-color: #6CB6FF;
    --fourd-color: #ffffff;
    /* Font-Colors */
    --color-white: #ffffff;
    --color-black: #000000;
}